body {
  background-color: #ffffff
  color: #000000;
}

div {
  background-color: #f3d5b5;
  opacity: 0.5;
  border: 2px #a47148;
  border-radius: 5px;
  border-style: outset;
  width: 200px;
}

h1 {
  color: ;
  text-align: left;
  letter-spacing: 3px;
  line-height: none;
  text-shadow: .5px .5px 5px #6F4518;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: ;
  text-align: left;
  letter-spacing: 3px;
  line-height: 1.0;
  font:
}

h3 {
  color: ;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.0;
}

h4 {
  color: ;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.2;
}

p {
  color: ;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.2;
  white-space: normal;
}


a {
  text-decoration: none;
}
