nav {
  background-color: #FFEDD8;
  opacity: 1;
  border: 6px #a47148;
  border-radius: 6px;
  border-style: hidden;
  width: 150px;
}
.logo {
  position: fixed;
  top: -150px;
  right: 0px;
  width: 200px;
}


h1 {
  text-align: left;
  letter-spacing: 15px;
  line-height: 1;
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-variant: small-caps;
  font-size: 40px;
}

h2 {
  text-align: left;
  letter-spacing: 1.5px;
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-variant: normal;
  font-size: 20px;
}


h3 {
  color: #583101;
  text-align: left;
  letter-spacing: 3px;
  line-height: 1.0;
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  font-size: 25px;
}

h4 {
  color: #603808;
  text-align: left;
  letter-spacing: 3px;
  line-height: 1.2;
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  font-size: 20px;
}

h5 {
  color: #603808;
  text-align: left;
  letter-spacing: 3px;
  line-height: 1.2;
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  font-size: 15px;
}

.signature {
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: Brush script MT, cursive;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  font-size: 25px;
}

p {
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.2;
  white-space: normal;
  font-family: garamond, georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 15px;
  width: 850px;
  overflow: visible;
}

footer{
  text-align: left;
  letter-spacing: 2px;
  line-height: 1.2;
  white-space: normal;
  font-family: garamond, georgia, serif;
  font-size: 10px;
  width: 480px;
}

a:link {
  color: #603808;
  text-decoration: none;
  font-family: Tahoma, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-variant: normal;
  font-size: 18px;
}

a:visited {
  color: #583101;
  text-decoration: none;
}

a:hover {
  color: #603808;
  text-decoration: underline;
  font-weight: normal;
}

a:active {
  color: #8B5E34;
  text-decoration: underline;
  font-weight: bold;
}

img {
  opacity: .9;
  float: none;
  width: auto;
  height: 400px;
  object-fit: contain;
}

img:hover {
  opacity: 1.0;
}

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-gap: 20px;
}

.main{
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 500px 400px;
  justify-content: start;
  align-content: space-evenly;
}

.aboutme {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

article {
  float: left;
  padding-bottom: 20px;
  padding-top: 20px;
}

.me {
  float: right;
  width: auto;
  height: 275px;
}

ul{
  list-style: none;
}
