body {
  background-color: #ffffff
  color: #000000;
}

div {
  background-color: #f3d5b5;
  opacity: 0.5;
  border: 2px #a47148;
  border-radius: 5px;
  border-style: outset;
  width: 300px;
  float: left;
}

h1 {
  color: ;
  text-align: left;
  letter-spacing: 3px;
  line-height: none;
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-variant: small-caps;
  font-size: 40px;
}

h2 {
  color: ;
  text-align: left;
  letter-spacing: 3px;
  line-height: 1.0;
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-variant: normal;
  font-size: 25px;
}

img {
  float: right;
}

h3 {
  color: #583101;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.0;
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  font-size: 18px;
}

h4 {
  color: #583101;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  font-size: 18px;
}

p {
  color:  ;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.2;
  white-space: normal;
  font-family: garamond, georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 15px;
  width: 700px;
  overflow: visible;
}


a:link {
  color: #603808;
  text-decoration: none;
  font-family: Tahoma, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-variant: normal;
  font-size: 18px;
}

a:visited {
  color: #603808;
  text-decoration: none;
}

a:hover {
  color: #603808;
  text-decoration: underline;
  font-weight: normal;
}

a:active {
  color: #603808;
  text-decoration: underline;
  font-weight: bold;
}
