body {
  background: #f8f9fb;
  font-family: Verdana;
}

h1 {
  color: #71a5de;
  font-size: 50px;
  text-align: center;
}

h2 {
  color: #83b0e1;
  font-size: 25px;
}

h3{
  color: #133253;
  font-size: 15px;

}

h4{
  background-color: #DFEBF6;
}

p {
  font-size: 15px;
  font: Arial;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: inherit;
  font-weight: lighter;
}

table, th, td{
  border: .3px solid white;
  border-collapse: collapse;
  width: 50%;
  font-size: 12px;
  background: #133253;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table
th{
  color: #ffffff;
}

img, figcaption{
  float: right;
  padding: 20px;
  font-size: 12px;
}


a{
  color: #83B0E1;
}

a:link {
  color: #6BA1DB;
}
a:visited {
  color: #3A82CF;
}

a:hover {
  color: #2864A4;
}

a:active {
  color: #1C4673;
}



footer {
  font-size: 10px;
}

article {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
